<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/summernote/summernote.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/summernote/summernote.js"></script>
    <script src="/summernote/summernote-zh-cn.js"></script>
    <script src="/js/jquery.tmpl.min.js"></script>
   </head>
   <body>
   


